export TERMINUS_PAPI_PROTOCOL="https"
export TERMINUS_PAPI_HOST="127.0.0.1"
export TERMINUS_PAPI_PORT="8443"
export TERMINUS_VERIFY_HOST_CERT=0

export FAKES_PORT=8000
export TERMINUS_VCS_AUTH_HOST="127.0.0.1:${FAKES_PORT}"
export TERMINUS_VCS_SERVICE_HOST="127.0.0.1:${FAKES_PORT}"
